.progress-bar,.progress-bar1,.progress-bar2,.progress-bar3{
	width:987px;
	height:44px;
	color:#c4c4c4;
	line-height:44px;
	margin-top:20px;
}

.progress-bar{
	background:url(../image/step1.png);
}
.progress-bar1{
	background:url(../image/step2.png);
}
.progress-bar2{
	background:url(../image/step3.png);
}
.progress-bar3{
	background:url(../image/step4.png);
}
.progress-bar span,.progress-bar1 span,.progress-bar2 span,.progress-bar3 span{
	padding:59px;
	
}
.form_d{
	padding: 44px 40px 40px 120px;
}
.code{
	margin-left:-23px;
}
#step1,#step2,#step3,#step4{
	height:500px;
}
#step2,#step3,#step4{
	display:none;
}
#code {
    width: 100px;
}
input {
    border: 1px solid #D6D3D3;
    height: 30px;
    margin-left: 20px;
    width: 385px;
}

#verify {
    margin-top: -10px;
    position: relative;
    top: 18px;
}
.change_one {
    color: #406CB5;
}
.email_address{
	font-size:18px;
}
#step4Tips {
    padding: 40px 0 0 150px
}
.buttonStyle1{
	background:url(../image/bg.png);
	width:178px;
	height:42px;
	line-height:42px;
	text-align:center;
	position:relative;
	top:-30px;
	left:280px;
	cursor:pointer;
}
.buttonStyle2{
	background:url(../image/bg2.png);
	width:81px;
	height:45px;
	line-height:45px;
	text-align:center;
	float:left;
	margin: 12px 0 10px 110px;
	cursor:pointer;
}
#codeTips{
	background-color:#f7f7f7;
	width:490px;
	padding:10px;
	margin-top:20px;
	height:90px;
	display:none;
}
.login_mail_right_now,.pls_login{
	color:#406CB5
	}
#codeTips1{
	float: right;
    margin-right: 20px;
    margin-top: -20px;
}
#codeTips img{
	float: left;
    margin-left: 200px;
    margin-top: -25px;
	}
.reset_pw_1{
	margin-left:120px;
}
.success_remober,.success_remober1{
	font-size:20px;
	font-weight:600;
	color:black;
}
	