.progress-bar,.progress-bar1,.progress-bar2,.progress-bar3{
	width:987px;
	height:44px;
	color:#c4c4c4;
	line-height:44px;
	margin-top:20px;
}

.progress-bar{
	background:url(../image/step1.png);
}
.progress-bar1{
	background:url(../image/step2.png);
}
.progress-bar2{
	background:url(../image/step3.png);
}
.progress-bar3{
	background:url(../image/step4.png);
}
.progress-bar span,.progress-bar1 span,.progress-bar2 span,.progress-bar3 span{
	padding:59px;
	
}
.form_d{
	padding: 44px 40px 40px 120px;
}
.code{
	margin-left:-23px;
}
#step1,#step2,#step3,#step4{
	height:500px;
}
#step2,#step3,#step4{
	display:none;
}
#code {
    width: 100px;
}
input {
    border: 1px solid #D6D3D3;
    height: 30px;
    margin-left: 20px;
    width: 385px;
}

#verify {
    margin-top: -10px;
    position: relative;
    top: 18px;
}
.change_one {
    color: #406CB5;
}
.email_address{
	font-size:18px;
}

