.register-form{
	border:1px solid #CFCFCE;
	margin:60px 0;
	clear:both;
    padding-bottom: 60px;
}
.register-form input {
	height: 30px;
    width: 385px;
	margin-left:20px;
	border: 1px solid #d6d3d3;
}
.register-form input:focus {
	border:1px solid #07f;
	-webkit-box-shadow:0 0 5px #8cddff;
	-moz-box-shadow:0 0 5px #8cddff;
	-ms-box-shadow:0 0 5px #8cddff;
	-o-box-shadow:0 0 5px #8cddff;
	box-shadow:0 0 5px #8cddff;
}
.required{
	color:#ff3434;
}
#mailImg{
	padding:20px;
	float:left;
}

#tableForm{
	margin-top:20px;
}
#code{
	width:100px;
}
#verify{
	margin-top: -10px;
    position: relative;
    top: 18px;
}
.change_one{
	color:#406cb5;
}

#check_email_button{
	margin-left:100px;
	margin-bottom:40px;
}
.check_email_6,.check_email_8{
	color:#517bae;
	cursor:pointer;
}
.infomation { margin-left:50px; color:#03F;}
.loginbtn {
	width:70px;
	height:40px;
	font-size:16px;
	margin-left:20px;
	margin-top:10px;
	}
a { text-decoration:none;}