ol,ul {
	list-style: none;
}

.container {
	padding-left: 20px;
}

#title {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container>div {
	margin-bottom: 20px;
}

.label1 {
	float: left;
}

.progress {
	height: 27px;
	width: 229px;
	background: url(../image/bg1.png);
	margin-left: 110px;
}

.progress>span {
	position: relative;
	float: left;
	margin: 0px;
	height: 27px;
	line-height: 16px;
	text-align: right;
	background: url(../image/progress2.png);
	cursor: pointer;
	z-index: 9999;
}

.progress>span>span {
	padding: 5px 8px;
	font-size: 11px;
	font-weight: bold;
	color: #404040;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.text1 {
	margin-left: 100px;
	width: 229px;
	font-size: 10px;
}

.textli1 {
	text-align: left;
	width: 45%;
	float: left;
}

.textli2 {
	text-align: left;
	width: 40%;
	float: left;
}

.textli3 {
	text-align: left;
	float: left;
}

.label2 {
	width: 86px;
	height: 33px;
	background: url(../image/infor2.png) no-repeat;
	margin-left: 19%;
	text-align: center;
	font-size:12px;
	visibility: hidden;
}

.tips {
	color: #fff;
	padding-top: 12px;
}