table tr td{
	border-bottom: 1px solid #CFCFCE;
    height: 45px;
    line-height: 45px;
}
.tableTitle{
	background-color:#dbe3e8;
}
table tr td a{
	text-decoration:none;
}
table tr td a:hover{
	text-decoration:underline;
}
.selectOption{
	float: left;
    margin-left: 45px;
    margin-bottom: 20px;
	position: relative;
    z-index: 99999;
}
.hrLine{
	width:705px;
	border-bottom:1px solid #CFCFCE;
	border-top:0px none;
	float:right;
	
	}
select{
	margin-top:20px;
	width:200px;
	height:30px;
}
.nav{
	float: left;
    margin-left: 45px;
    margin-top: 10px;
}
.navTitle{
	color: #4183c4;
	font-weight: bold;
	font-size: 18px;
	padding-right:5px;
	cursor:pointer
}
.tableTitle_l{
	background-color:#fafafa;
}
.scale{
	float:right;
	color:#225799;
}
.scale a{
	padding-left:20px;
	cursor:pointer;
}